@import url(https://fonts.googleapis.com/css?family=Montserrat);

.titulo{
	align:center;
	margin-top: -6%;
}


html, body{
  height: 100%;
  font-weight: 800;
}

body{
  background: #003c50;;
  font-family: Arial;
}

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #4D163D;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #840037;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #BD0034;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #BD0034;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FDB731;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}


h1 { 
    font-weight:bold;
    text-decoration: underline;
	text-align:center;
}

@import url('https://fonts.googleapis.com/css?family=Monoton');

$lightColor: #F5EE9E;
$darkColor: #F49E4C;
$bgColor: #AB3428;

.sub {
  display: inline;
  font-size: 15vw;
  text-transform: uppercase;
  color: $darkColor;
  
  @media (min-width: 700px) {
    font-size: 9vw;
  }
  
  @media (min-width: 1400px) {
    font-size: 150px;
  }
}

@supports (-webkit-background-clip: text) {
	h1 {
		color: transparent;
		background: linear-gradient(7deg, $lightColor 50%, $darkColor 0);
		-webkit-background-clip: text;
	}
}
